%ul.media-list
  - @banners.each do |banner|
    %li.media(id="banner_#{banner.id}")
      .pull-left= image_tag(banner.image.url, class: 'media-object')
      .media-body
        %h4.media-heading= banner.title
        %p= link_to banner.url, banner.url
        %dl
          %dt= t('.showing')
          %dd
            %span.js-show_count= banner.show_count

          %dt= t('.clicking')
          %dd
            %span.js-click_count= banner.click_count

          %dt
            %span.js-conversion= t('.conversion')
          %dd= banner.conversion
        %p
          = link_to t('.edit'), edit_banner_path(banner), class: 'btn btn-default'
          = link_to t('.destroy'), banner_path(banner), method: :delete, data: { confirm: t('.destroy_confirmation') }, class: 'btn btn-danger'
