#banners
:javascript
  function bannersCallback(data) {
    var text = '';
    text += '<img src="' + data.image_url + '"/>'
    text += '<a href="' + data.url +  '" target="blank">'+  data.title +'</a>'
    document.getElementById('banners').innerHTML = text;
  }
%script(src="/api/v1/random_banners.json?callback=bannersCallback")
