%nav.navbar.navbar-default
  .container
    %ul.nav.navbar-nav
      %li= link_to t('.home'), root_path
      %li= link_to t('.banners'), banners_path
      %li= link_to t('.new_banner'), new_banner_path
