!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %title= t('.title')
    = include_gon
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      %h1= t('.title')
      = render 'layouts/web/shared/main_menu'

      = yield

    = javascript_include_tag "#{configus.faye_url}/client.js"
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
